<div role="main" class="ui-content container">
    <div class="row">
        <div class="twelve columns">
            <h1>Hello World</h1>
        </div>
    <hr />
    </div>
    <div class="row">
        <div class="five columns">
            <input type="file" accept="image/*" />   
        </div>
        <div class="seven columns">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan blandit fermentum. Pellentesque cursus mauris purus, auctor commodo mi ullamcorper nec. Donec semper mattis eros, nec condimentum ante sollicitudin quis. Etiam orci sem, porttitor ut tellus nec, blandit posuere urna. Proin a arcu non lacus pretium faucibus. Aliquam sed est porttitor, ullamcorper urna nec, vehicula lorem. Cras porttitor est lorem, non venenatis diam convallis congue.</p>
        </div>
    </div>
     <hr />
    <div class="row">
        <div class="three columns">
            <a href="#/listusers" class="ui-btn ui-shadow">List Users</a>
        </div>
        <div id="hidemobile" class="nine columns columns">
            <p>This will disappear on small screens using media queries</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan blandit fermentum. Pellentesque cursus mauris purus, auctor commodo mi ullamcorper nec. Donec semper mattis eros, nec condimentum ante sollicitudin quis. Etiam orci sem, porttitor ut tellus nec, blandit posuere urna. Proin a arcu non lacus pretium faucibus. Aliquam sed est porttitor, ullamcorper urna nec, vehicula lorem. Cras porttitor est lorem, non venenatis diam convallis congue.</p>
        </div>
    </div>
</div>

